# Dependencias
node_modules/
dist/

# Carpetas generadas por Nuxt
.nuxt/
.output/
.cache/
.data/

# Archivos de sistema y logs
.DS_Store
Thumbs.db
*.log
npm-debug.log*

# Variables de entorno
.env
.env.*
!.env.example